.contact form div {
    display: flex;
}
.contact textarea {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 7px 5px;
    font-size: 1rem;

}
.success-msg{
    padding: 5px 5px;
    border-radius: 7px ;
    color: white;
    background: #27ae60;;
}
.contact input {
    margin-bottom: 20px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 7px 5px;
    font-size: 1rem;
    border-radius: 7px ;
}
.contact form {
    padding: 30px;
}
@media screen and (max-width: 768px) {
    .contact h4 {
        width: 100%;
        margin-bottom: 30px;
    }
    .contact form div {
        flex-direction: column;
    }
    .contact input {
        width: 100%;
    }
}